<h1>Tony Brown</h1>
<p>Blog about JavaScript and Ruby mostly</p>

<%= link_to 'Home', controller: 'welcome' %>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
